@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap");

* {
  box-sizing: border-box;
  font-family: "Abhaya Libre", serif;
}
/* Basic Heading styles*/
html,
body {
  margin: 0;
  padding: 0;
}

.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 0.5em;
  color: white;
  text-decoration: none;
}

.main-nav {
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main-nav {
  padding: 0 5%;
}

.nav a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.main-header {
  background-image: url("images/theredbackbro.jpg");
  background-size: cover;
  padding-bottom: 10px;
}

.band-name {
  text-align: center;
  margin: 0;
  font-size: 4em;
  font-family: "Abhaya Libre", serif;
  color: white;
  font-weight: normal;
}

.band-name-large {
  font-size: 9em;
}
/* Content styles in about page */
.content-section {
  margin: 1em;
}

.section-header {
  text-align: center;
  font-size: 2.5em;
}

.about-image {
  float: left;
  height: 200px;
  width: 200px;
  margin: 15px;
  border-radius: 50%;
}
/* footer element on all pages */
.main-footer {
  background-color: rgb(105, 23, 23);
  color: white;
  padding: 0.25em 0;
}

.main-footer-container {
  display: flex;
  align-items: center;
}

.main-footer-container ul {
  flex-grow: 1;
  text-align: end;
}

.footer-nav li {
  padding: 0 0.5em;
}

.footer-nav img {
  width: 30px;
  height: 30px;
}

.text-align {
  font-size: 1.5em;
}

/* Play Button Style on home page*/

.btn {
  text-align: center;
  vertical-align: middle;
  padding: 0.67em;
  cursor: pointer;
}

.btn-header {
  margin: 0.5em 15% 2em 15%;
  color: white;
  border: 2px solid brown;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0;
  font-size: 1.5em;
  font-weight: lighter;
  padding-left: 2em;
  padding-right: 2em;
}

.btn-header:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.btn-play {
  display: block;
  margin: auto;
  color: rgb(113, 36, 36);
  font-size: 4em;
  border-radius: 50%;
  padding: 0;
  width: 100px;
  height: 100px;
  text-align: center;
}

/*Artists on the home page*/
.fame-row {
  border-bottom: 1px solid black;
  padding: 1em;
  margin-bottom: 1em;
}

.artist-item {
  display: inline-block;
  padding-right: 0.5em;
}

.song-item {
  color: black;
  font-weight: bold;
  width: 11%;
}

.pop-song {
  width: 24%;
}

.song-name {
  width: 42%;
}

.song-btn {
  max-width: 19%;
}

.link {
  text-decoration: none;
}
/* Seasons grid on seasons page*/
.grid {
  text-decoration: none;
}
