@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap");

* {
	box-sizing: border-box;
	font-family: "Abhaya Libre", serif;
}
/* Basic Heading styles*/
html,
body {
	margin: 0;
	padding: 0;
}

.nav ul {
	margin: 0;
}

.nav li {
	display: inline;
}

.nav a {
	display: inline-block;
	padding: 0.5em;
	color: white;
	text-decoration: none;
}

.main-nav {
	text-align: center;
	font-size: 1.1em;
	font-weight: lighter;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main-nav {
	padding: 0 5%;
}

.nav a:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

.main-header {
	background-image: url("images/theredbackbro.jpg");
	background-size: cover;
	padding-bottom: 10px;
}

.band-name {
	text-align: center;
	margin: 0;
	font-size: 4em;
	font-family: "Abhaya Libre", serif;
	color: white;
	font-weight: normal;
}

.band-name-large {
	font-size: 9em;
}
/* Content styles in about page */
.content-section {
	margin: 1em;
}

.section-header {
	text-align: center;
	font-size: 2.5em;
}

.about-image {
	float: left;
	height: 200px;
	width: 200px;
	margin: 15px;
	border-radius: 50%;
}
/* footer element on all pages */
.main-footer {
	background-color: rgb(105, 23, 23);
	color: white;
	padding: 0.25em 0;
}

.main-footer-container {
	display: flex;
	align-items: center;
}

.main-footer-container ul {
	flex-grow: 1;
	text-align: end;
}

.footer-nav li {
	padding: 0 0.5em;
}

.footer-nav img {
	width: 30px;
	height: 30px;
}

.text-align {
	font-size: 1.5em;
}

/* Play Button Style on home page*/

.btn {
	text-align: center;
	vertical-align: middle;
	padding: 0.67em;
	cursor: pointer;
}

.btn-header {
	margin: 0.5em 15% 2em 15%;
	color: white;
	border: 2px solid brown;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 0;
	font-size: 1.5em;
	font-weight: lighter;
	padding-left: 2em;
	padding-right: 2em;
}

.btn-header:hover {
	background-color: rgba(255, 255, 255, 0.3);
	cursor: pointer;
}

.btn-play {
	display: block;
	margin: auto;
	color: rgb(113, 36, 36);
	font-size: 4em;
	border-radius: 50%;
	padding: 0;
	width: 100px;
	height: 100px;
	text-align: center;
}

/*Artists on the home page*/
.fame-row {
	border-bottom: 1px solid black;
	padding: 1em;
	margin-bottom: 1em;
}

.artist-item {
	display: inline-block;
	padding-right: 0.5em;
}

.song-item {
	color: black;
	font-weight: bold;
	width: 11%;
}

.pop-song {
	width: 24%;
}

.song-name {
	width: 42%;
}

.song-btn {
	max-width: 19%;
}

.song-link {
	text-decoration: none;
}

.listen-btn {
	margin: 10px auto;
	border: 1px solid rgb(26, 6, 6);
	background: brown;
	color: #fff;
	font-size: 16px;
	line-height: 20px;
	padding: 14px 20px;
	border-radius: 10px;
	transition: all 200ms ease;
	box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}

.listen-btn:hover {
	background: rgb(149, 40, 40);
	color: white;
	border: 1px solid rgb(26, 6, 6);
}
.link {
	text-decoration: none;
}

/* seasons page styling */
.season-item {
	margin: 30px;
}

.season-item-title {
	display: block;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	color: #333;
	margin-bottom: 15px;
}

.season-item-img {
	width: 300px;
	height: 157px;
}

.season-item-img-two {
	width: 260px;
	height: 190px;
}

.season-item-deatails {
	display: flex;
	align-items: center;
	padding: 5px;
}

.season-item-line {
	flex-grow: 1;
	color: rgb(0, 0, 0);
	font-weight: bold;
}

.season-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.season-item-btn {
	text-decoration: none;
}

/* Merch page styling */

.merch-item {
	margin: 30px;
}

.merch-item-title {
	display: block;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	color: #333;
	margin-bottom: 15px;
}

.merch-item-img {
	height: 250px;
}

.merch-item-deatails {
	display: flex;
	align-items: center;
	padding: 5px;
}

.merch-item-price {
	flex-grow: 1;
	color: rgb(0, 0, 0);
}

.merch-price {
	margin-right: 50px;
}
.merch-price-two {
	margin-right: 125px;
}

.merch-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.merch-img {
	width: 300px;
	height: 157px;
}

.cart-header {
	font-weight: bold;
	font-size: 1.25em;
	color: #333;
}

.cart-column {
	display: flex;
	align-items: center;
	border-bottom: 1px solid black;
	margin-right: 1.5em;
	padding-bottom: 10px;
	margin-top: 10px;
}

.cart-row {
	display: flex;
}

.cart-item {
	width: 45%;
}

.cart-price {
	width: 20%;
	font-size: 1.2em;
	color: #333;
}

.cart-quantity {
	width: 35%;
}

.cart-item-title {
	color: #333;
	margin-left: 0.5em;
	font-size: 1.2em;
}

.cart-item-image {
	width: 75px;
	height: auto;
	border-radius: 10px;
}

.btn-danger {
	color: white;
	background-color: brown;
	border: none;
	border-radius: 0.3em;
	font-weight: bold;
}

.btn-danger:hover {
	background-color: rgb(129, 34, 34);
}

.cart-quantity-input {
	height: 34px;
	width: 50px;
	border-radius: 5px;
	border: 1px solid #000000;
	background-color: #eee;
	color: #333;
	padding: 0;
	text-align: center;
	font-size: 1.2em;
	margin-right: 25px;
}

.cart-row:last-child {
	border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
	border: none;
}

.cart-total {
	text-align: end;
	margin-top: 10px;
	margin-right: 10px;
}

.cart-total-title {
	font-weight: bold;
	font-size: 1.5em;
	color: black;
	margin-right: 20px;
}

.cart-total-price {
	color: #333;
	font-size: 1.1em;
}

.btn-purchase {
	display: block;
	margin: 40px auto 80px auto;
	font-size: 1.75em;
}
